{
	"openapi": "3.0.0",
	"info": {
		"title": "Formo API",
		"version": "1.0.0",
		"description": "API for managing form webhook subscriptions, form responses, and event tracking"
	},
	"servers": [
		{
			"url": "https://api.formo.so/api",
			"description": "Forms API"
		},
		{
			"url": "https://events.formo.so",
			"description": "Events API"
		}
	],
	"components": {
		"securitySchemes": {
			"ApiKeyAuth": {
				"type": "apiKey",
				"in": "header",
				"name": "x-api-key"
			},
			"BearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "JWT",
				"description": "JWT Bearer token for authentication. Format: 'Bearer <token>'"
			}
		},
		"schemas": {
			"FormResponse": {
				"type": "object",
				"properties": {
					"formId": {
						"type": "string",
						"description": "Unique identifier of the form"
					},
					"formTitle": {
						"type": "string",
						"description": "Title of the form"
					},
					"submissionId": {
						"type": "string",
						"description": "Unique identifier of the submission"
					},
					"submittedAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp of form submission"
					}
				},
				"additionalProperties": true
			},
			"Error": {
				"type": "object",
				"properties": {
					"isSuccess": {
						"type": "boolean",
						"example": false
					},
					"message": {
						"type": "string"
					}
				}
			},
			"SuccessResponse": {
				"type": "object",
				"properties": {
					"isSuccess": {
						"type": "boolean",
						"example": true
					},
					"data": {
						"type": "object",
						"properties": {
							"items": {
								"type": "array",
								"items": {
									"$ref": "#/components/schemas/FormResponse"
								}
							}
						}
					}
				}
			},
			"EventContext": {
				"type": "object",
				"description": "Contextual information about the event",
				"properties": {
					"user_agent": {
						"type": "string",
						"description": "The user agent of the device"
					},
					"locale": {
						"type": "string",
						"description": "Language of the device (e.g., en-US, en-GB)"
					},
					"timezone": {
						"type": "string",
						"description": "Timezone of the user (e.g., America/New_York)"
					},
					"location": {
						"type": "string",
						"description": "Geographic location country code (e.g., US, NG)"
					},
					"ref": {
						"type": "string",
						"description": "Referral code or identifier"
					},
					"referrer": {
						"type": "string",
						"description": "The referrer URL where the user came from"
					},
					"utm_campaign": {
						"type": "string",
						"description": "UTM campaign parameter"
					},
					"utm_content": {
						"type": "string",
						"description": "UTM content parameter"
					},
					"utm_medium": {
						"type": "string",
						"description": "UTM medium parameter"
					},
					"utm_source": {
						"type": "string",
						"description": "UTM source parameter"
					},
					"utm_term": {
						"type": "string",
						"description": "UTM term parameter"
					},
					"page_title": {
						"type": "string",
						"description": "Title of the current page"
					},
					"page_url": {
						"type": "string",
						"description": "Full URL of the current page"
					},
					"library_name": {
						"type": "string",
						"description": "Name of the SDK used (e.g., Formo Web SDK)"
					},
					"library_version": {
						"type": "string",
						"description": "Version of the SDK used"
					},
					"browser": {
						"type": "string",
						"description": "Name of the browser (e.g., chrome, firefox, safari)"
					},
					"screen_width": {
						"type": "integer",
						"description": "Width of the device screen in pixels"
					},
					"screen_height": {
						"type": "integer",
						"description": "Height of the device screen in pixels"
					},
					"screen_density": {
						"type": "number",
						"description": "Pixel density of the device screen (devicePixelRatio)"
					},
					"viewport_width": {
						"type": "integer",
						"description": "Width of the browser viewport in pixels"
					},
					"viewport_height": {
						"type": "integer",
						"description": "Height of the browser viewport in pixels"
					}
				}
			},
			"EventProperties": {
				"type": "object",
				"description": "Event-specific properties. Can contain any key-value pairs relevant to the event.",
				"additionalProperties": true
			},
			"Event": {
				"type": "object",
				"properties": {
					"type": {
						"type": "string",
						"enum": ["identify", "track", "page", "connect", "disconnect", "detect", "chain", "signature", "transaction"],
						"description": "Type of the event"
					},
					"channel": {
						"type": "string",
						"enum": ["web", "mobile", "server"],
						"description": "Channel/source of the event"
					},
					"version": {
						"type": "string",
						"description": "Event spec version"
					},
					"anonymous_id": {
						"type": "string",
						"description": "Pseudo-identifier for the user (device ID)"
					},
					"user_id": {
						"type": "string",
						"nullable": true,
						"description": "Unique user identifier"
					},
					"address": {
						"type": "string",
						"nullable": true,
						"description": "Wallet address"
					},
					"event": {
						"type": "string",
						"description": "Name of the event (for track events)"
					},
					"context": {
						"$ref": "#/components/schemas/EventContext"
					},
					"properties": {
						"$ref": "#/components/schemas/EventProperties"
					},
					"original_timestamp": {
						"type": "string",
						"format": "date-time",
						"description": "Time when the event occurred on the client"
					},
					"sent_at": {
						"type": "string",
						"format": "date-time",
						"description": "Time when the event was sent from the client"
					},
					"message_id": {
						"type": "string",
						"description": "Unique identifier for the event"
					}
				},
				"required": [
					"type",
					"channel",
					"version",
					"anonymous_id",
					"context",
					"original_timestamp",
					"sent_at",
					"message_id"
				]
			}
		}
	},
	"paths": {
		"/webhooks/{formId}/poll": {
			"get": {
				"summary": "List Form Responses",
				"description": "Retrieves recent form responses with transformed field data",
				"operationId": "listFormResponses",
				"tags": ["Forms API"],
				"servers": [
					{
						"url": "https://api.formo.so/api",
						"description": "Forms API"
					}
				],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"name": "formId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"description": "The unique identifier of the form"
					}
				],
				"responses": {
					"200": {
						"description": "Successfully retrieved form responses",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SuccessResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request - Form ID is required",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized - Missing or invalid API key",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden - Insufficient permissions",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Not Found - Form not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"500": {
						"description": "Server Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/webhooks": {
			"post": {
				"summary": "Subscribe to Form Events",
				"description": "Creates a new webhook subscription for form events",
				"operationId": "subscribeFormEvents",
				"tags": ["Forms API"],
				"servers": [
					{
						"url": "https://api.formo.so/api",
						"description": "Forms API"
					}
				],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"required": [
									"formId",
									"targetUrl",
									"eventTypes"
								],
								"properties": {
									"formId": {
										"type": "string",
										"description": "The unique identifier of the form"
									},
									"targetUrl": {
										"type": "string",
										"description": "The URL that will receive webhook events"
									},
									"eventTypes": {
										"type": "array",
										"items": {
											"type": "string",
											"enum": [
												"FORM_SUBMISSION",
												"FORM_UPDATED"
											]
										},
										"description": "Types of events to subscribe to"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successfully subscribed to webhook",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"isSuccess": {
											"type": "boolean",
											"example": true
										},
										"data": {
											"type": "object",
											"properties": {
												"webhookId": {
													"type": "string",
													"description": "Unique identifier of the webhook subscription"
												}
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad Request - Missing required fields or invalid event types",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized - Missing or invalid API key",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden - Insufficient permissions",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"500": {
						"description": "Server Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			},
			"delete": {
				"summary": "Unsubscribe from Form Events",
				"description": "Removes a webhook subscription",
				"operationId": "unsubscribeFormEvents",
				"tags": ["Forms API"],
				"servers": [
					{
						"url": "https://api.formo.so/api",
						"description": "Forms API"
					}
				],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"name": "webhookId",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						},
						"description": "The unique identifier of the webhook subscription"
					},
					{
						"name": "targetUrl",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						},
						"description": "The URL that receives webhook events"
					}
				],
				"responses": {
					"200": {
						"description": "Successfully unsubscribed from webhook",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"isSuccess": {
											"type": "boolean",
											"example": true
										},
										"data": {
											"type": "object",
											"properties": {
												"message": {
													"type": "string",
													"example": "Webhook unsubscribed successfully"
												}
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized - Missing or invalid API key",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden - Insufficient permissions",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Not Found - Webhook not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"500": {
						"description": "Server Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/v0/raw_events": {
			"post": {
				"summary": "Track Event",
				"description": "Sends an event to the Formo Events API. Use the SDK Write Key from your project settings as the Bearer token for authentication.",
				"operationId": "trackEvent",
				"tags": ["Events API"],
				"servers": [
					{
						"url": "https://events.formo.so",
						"description": "Events API"
					}
				],
				"security": [
					{
						"BearerAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Event"
							},
							"example": {
								"type": "page",
								"channel": "web",
								"version": "0",
								"anonymous_id": "c2bc0ebe-d852-49d1-9efd-e45744850ae0",
								"user_id": "a46e6878-1ed5-4a81-9185-83608df2fcb6",
								"address": "0x9CC3cB28cd94eB4423B15cdA73346e204f59a407",
								"event": "",
								"context": {
									"user_agent": "Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Mobile Safari/537.36",
									"locale": "en-GB",
									"timezone": "Africa/Lagos",
									"location": "NG",
									"ref": "",
									"referrer": "",
									"utm_campaign": "",
									"utm_content": "",
									"utm_medium": "",
									"utm_source": "",
									"utm_term": "",
									"page_title": "WalletConnect Content Cabal",
									"page_url": "https://app.formo.so/lByfTbeUSL_mxy_TN2m3d",
									"library_name": "Formo Web SDK",
									"library_version": "1.25.0",
									"browser": "chrome",
									"screen_width": 393,
									"screen_height": 873,
									"screen_density": 2.75,
									"viewport_width": 392,
									"viewport_height": 735
								},
								"properties": {
									"url": "https://app.formo.so/lByfTbeUSL_mxy_TN2m3d",
									"path": "/lByfTbeUSL_mxy_TN2m3d",
									"hash": "",
									"query": ""
								},
								"original_timestamp": "2025-04-23T13:15:17.000Z",
								"sent_at": "2025-04-23T13:15:18.000Z",
								"message_id": "48555101eee2f44ac0f0632fcb7c7c9f6ce0012ae395ae79f8a0d515e4f5e41f"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Event successfully tracked",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"successful_rows": {
											"type": "integer",
											"description": "Number of events successfully ingested",
											"example": 1
										},
										"quarantined_rows": {
											"type": "integer",
											"description": "Number of events that failed validation and were quarantined",
											"example": 0
										}
									}
								},
								"example": {
									"successful_rows": 1,
									"quarantined_rows": 0
								}
							}
						}
					},
					"400": {
						"description": "Bad Request - Invalid event data"
					},
					"401": {
						"description": "Unauthorized - Missing or invalid Bearer token"
					},
					"500": {
						"description": "Server Error"
					}
				}
			}
		}
	}
}